.navbar {
  background-color: #cccccc !important;
  border: none;
}

.section-box {
  background-color: #e0e0e0;
  padding: 20px;
  height: 1000px; /* or add more text to force scroll */
  margin-top: 20px;
  text-align: center;
}


