.navbar {
  background-color: #cccccc; /* darker gray */
  border: none;
}

.section-box {
  background-color: #e0e0e0; /* light gray section */
  padding: 20px;
  height: 1000px;
  text-align: center;
}

